{% for item in item_list %}
    
    <ul>
        <li>
            <a href="{% url 'food:detail' item.id %}"> {{item.id}} -- {{item.item_name}}</a>
        </li>
    </ul>

{% endfor %}


{% comment %} <a href="/food/{{item.id}}">{{item.id}} -- {{item.item_name}}</a> {% endcomment %}

{% comment %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a sample template</title>
</head>
<body>
    <h1>This is a sample template</h1>
</body>
</html> {% endcomment %}